In [ ]:
# Playing with expenses

########################################
#         Data Import from Sheets      #
########################################
import gspread
import pandas as pd
from datetime import datetime, timedelta
import calendar
import matplotlib.pyplot as plt
from oauth2client.service_account import ServiceAccountCredentials
import smtplib
from email.message import EmailMessage
import os
import mimetypes
from pathlib import Path
import json
from dotenv import load_dotenv

load_dotenv()

email_username = os.getenv("EMAIL_USERNAME")
email_password = os.getenv("EMAIL_PASSWORD")

# Set up credentials
scope = ['https://spreadsheets.google.com/feeds', 'https://www.googleapis.com/auth/drive']
# creds = ServiceAccountCredentials.from_json_keyfile_name(os.getenv('TRY'), scope)
json_keyfile_dict = json.loads(os.getenv("JSON_KEYFILE_DICT"))
creds = ServiceAccountCredentials.from_json_keyfile_dict(json_keyfile_dict, scope)
client = gspread.authorize(creds)


# Open Spreadsheet based on sheet key
spreadsheet_key = os.getenv("SPREADSHEET_KEY")
spreadsheet = client.open_by_key(spreadsheet_key)

## Open Expenses Sheet
sheet_title = 'Expenses'  
sheet = spreadsheet.worksheet(sheet_title)

# Extract all of the data
expenses_data = sheet.get_all_records()

# Convert from JSON to pandas Data Frame
expenses_data = pd.DataFrame(expenses_data)

# Make Timestamp a column that can be worked with Pandas library
expenses_data['Timestamp'] = pd.to_datetime(expenses_data['Timestamp'])

## Open Income Sheet
sheet_title = 'Income'  
sheet = spreadsheet.worksheet(sheet_title)

# Extract all of the data
income_data = sheet.get_all_records()

# Convert from JSON to pandas Data Frame
income_data = pd.DataFrame(income_data)

# Make Timestamp a column that can be worked with Pandas library
income_data['Timestamp'] = pd.to_datetime(income_data['Timestamp'])

In [9]:
df = expenses_data

df['Year-Month'] = df['Timestamp'].dt.to_period('M')

# Group by 'Year-Month' and sum the 'Expense Amount'
monthly_expenses = df.groupby('Year-Month')['Expense Amount'].sum().reset_index()

# Display the result
print(monthly_expenses)
print(monthly_expenses['Expense Amount'].mean())

   Year-Month  Expense Amount
0     2023-02           42.86
1     2023-03         2176.60
2     2023-04         2104.54
3     2023-05         1852.65
4     2023-06         2082.58
5     2023-07         5098.66
6     2023-08         2814.46
7     2023-09         2039.43
8     2023-10         1781.84
9     2023-11         7962.66
10    2023-12         2279.20
11    2024-01         2137.75
12    2024-02         1414.82
13    2024-03         2204.40
14    2024-04         2723.78
15    2024-05         1621.16
16    2024-06         4601.96
17    2024-07         2239.35
18    2024-08        10717.64
19    2024-09         4652.44
20    2024-10         1642.52
3056.7285714285713

In [10]:
df = income_data

df['Year-Month'] = df['Timestamp'].dt.to_period('M')

# Group by 'Year-Month' and sum the 'Expense Amount'
monthly_income = df.groupby('Year-Month')['Income Amount'].sum().reset_index()

# Display the result
print(monthly_income)

   Year-Month  Income Amount
0     2023-02          28.92
1     2023-03        5947.41
2     2023-04        3795.88
3     2023-05        3795.88
4     2023-06        3795.88
5     2023-07        3922.79
6     2023-08        3795.88
7     2023-09        5693.82
8     2023-10        3846.64
9     2023-11        3860.38
10    2023-12        3795.88
11    2024-01        4988.76
12    2024-02        3795.88
13    2024-03       10491.09
14    2024-04        5286.49
15    2024-05        4059.50
16    2024-06        4059.49
17    2024-07        4059.48
18    2024-08        9638.17
19    2024-09        4131.29
20    2024-10        1978.06

In [12]:
monthly_expense_vs_income = pd.merge(monthly_income, monthly_expenses, on='Year-Month')
monthly_expense_vs_income['Delta'] = monthly_expense_vs_income['Income Amount'] - monthly_expense_vs_income['Expense Amount']
monthly_expense_vs_income

   Year-Month  Income Amount  Expense Amount    Delta
0     2023-02          28.92           42.86   -13.94
1     2023-03        5947.41         2176.60  3770.81
2     2023-04        3795.88         2104.54  1691.34
3     2023-05        3795.88         1852.65  1943.23
4     2023-06        3795.88         2082.58  1713.30
5     2023-07        3922.79         5098.66 -1175.87
6     2023-08        3795.88         2814.46   981.42
7     2023-09        5693.82         2039.43  3654.39
8     2023-10        3846.64         1781.84  2064.80
9     2023-11        3860.38         7962.66 -4102.28
10    2023-12        3795.88         2279.20  1516.68
11    2024-01        4988.76         2137.75  2851.01
12    2024-02        3795.88         1414.82  2381.06
13    2024-03       10491.09         2204.40  8286.69
14    2024-04        5286.49         2723.78  2562.71
15    2024-05        4059.50         1621.16  2438.34
16    2024-06        4059.49         4601.96  -542.47
17    2024-07        4059.48         2239.35  1820.13
18    2024-08        9638.17        10717.64 -1079.47
19    2024-09        4131.29         4652.44  -521.15
20    2024-10        1978.06         1642.52   335.54

In [17]:
monthly_expense_vs_income['Delta'].cumsum()

0       -13.94
1      3756.87
2      5448.21
3      7391.44
4      9104.74
5      7928.87
6      8910.29
7     12564.68
8     14629.48
9     10527.20
10    12043.88
11    14894.89
12    17275.95
13    25562.64
14    28125.35
15    30563.69
16    30021.22
17    31841.35
18    30761.88
19    30240.73
20    30576.27
Name: Delta, dtype: float64

In [15]:
monthly_expense_vs_income['Delta'].median()

1713.3000000000002

In [8]:
# My budget is basically $4,000

rent = 500
insurance = 71 # 2 cars
gas = 100
charity = 250
health = 35
phone = 33.75
internet = 60

monthly_expenses_deal = rent + insurance + gas + charity + health + phone + internet
monthly_expenses_deal

1049.75